@model BeatsBy_J_Models.Genre.GenreDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GenreDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GenreId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreName)
        </dd>

        <dt>
            Songs In Genre
        </dt>

        <dd>
            @foreach (var item in Model.SongTitlesInGenre)
            {

                string filteredList = $"{item} | ";
                @filteredList;

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update", new { id = Model.GenreId }) |
    @Html.ActionLink("Back to Genre List", "Index")
</p>
